.navbar{
    background-color:rgb(2, 2, 2);
}

.top-section { 
    height: 100vh;
    width: 100vw;
    background-image: url(https://carat-image.com/materials/158902992915201.jpeg);
    background-size: cover;
}


.top-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.top-content h1 {
    /* display: inline; */
    font-size: 4em;
    font-weight: bold;
    font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
    color: rgb(1, 1, 1);
    text-align: center;
}

.content-section { 
    background-color: #000000;
}

.content-section .container { 
    padding: 1rem;
}

.my-footer{
    height: 20vh;
    background-color: white;
}

.my-footer .container { 
    padding: 1rem;
}

.footer-row{
    height: 100%;
}

.privacy-policy-link{
    color: #3cbf49;
}