.navbar{
    background-color:white;
}

.top-section { 
    height: 100vh;
    width: 100vw;
    background-image: url(https://pics.prcm.jp/af4c22cbed1fe/80339953/jpeg/80339953_480x300.jpeg);
    background-size: cover;
}


.top-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.top-content h1 {
    /* display: inline; */
    font-size: 4em;
    font-weight: bold;
    font-family: "游明朝体", "Yu Mincho", YuMincho, serif;
    color: white;
    text-align: center;
}

.content-section { 
    background-color: #18375f;
}

.content-section .container { 
    padding: 1rem;
}

.my-footer{
    height: 20vh;
    background-color: white;
}

.my-footer .container { 
    padding: 1rem;
}

.footer-row{
    height: 100%;
}

.privacy-policy-link{
    color: #285ca0;
}